
a:visited{color: white;}
a:hover{color: white;}
a{text-decoration: none;}
h2{margin-bottom: 10px;}

.button{
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background-color: black;
    padding: 1px 7px 2px;
    display: inline-block;
    text-align: start;
    margin: 0em;
}
body{
    background-color: #e4dfdf;
}
.pic{
    border: 10px solid black;
    background: grey;
    width: 800px;
    margin: 35px;
    margin-left: 10px;
    padding: 15px;
}
.card-body{
    background-color: #e4dfdf;
    padding-bottom: 50px;
    
}
.card{
    /* border: 10px solid black; */
    background: #354bc9;
    width: 975px;
    margin-top: 10px;
    padding: 5px;
}
.btn{
    background-color: #354bc9;
    color: white;
}
.spisok{
        list-style-type: none;
        display: inline-flex;
}

